//imports//

@import "components/header";
@import "components/footer";
@import "components/index";
@import "components/productos";
@import "components/promociones";
@import "components/nosotros";
@import "components/contacto";
@import "base/queries";
@import "base/extends";

//general// 
*{
    margin: 0px;
}

a{
    text-decoration: none;
}

li{
    font-family: 'Roboto', sans-serif;
    list-style: none;
    list-style-position: outside;
}

.VolverHome{
    background-color: pink;
    display: flex;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    font-size: 2em;
}

.bg-pink{
    background-color: pink;
}
body{
    background-color: pink !important;
    background-repeat: repeat;
}

main{
    margin-bottom: 40px;
}

.backToTop{
    position: fixed;
    right: 1px;
    bottom: 1px;
    display: flex;
    justify-content: right;
    z-index: 10;
}
.button{
    width: 50px;
    background-color: pink;
    border: 1px solid black;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.buttonTop{
    width: 80%;
}