

.h2Contacto{
    font-family: 'Roboto', sans-serif;
    font-size: 6rem;
    text-align: center;
    margin-bottom: 10px;
}

.contacto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    margin: auto;
    width: 50%;
}

.contactoBody{
    font-family: 'Roboto', sans-serif;
    font-size: 2em;
}
