footer{
    background-image: linear-gradient(to bottom, #ffc0cb, #b88c95, #775c62, #3b2f32, #000000);
}




.footerA{
    color: white;
    text-decoration: none; 
}

.footerA:hover{
    color: white;
}


.logoMarcaFooter {
    width: 40%;
}

.logoFooter{
    width: 20%;
}



.instagram{
    width: 10%;
}

.redes{
    width: 10%;
}

.mailContacto{
    flex-wrap: wrap;
}


