.carousel-caption {
    background: rgba(0, 0, 0, 0.35);
}

.textoCarrusel{
    font-family: 'Roboto', sans-serif;
    font-size: 40px; color: black ;
    text-align: left;
    line-height: 40px;
    letter-spacing: 10px;
    margin: 40px;
}

.Envios{
    display: flex;
    justify-content: space-between;

}

.parrafoEnvio{
    font-family: 'Roboto', sans-serif;
    font-size: 40px; color: black ;
    text-align: left;
    line-height: 40px;
    letter-spacing: .2rem;
    text-transform: uppercase;
    padding: 40px;
    margin: 25px;
}

.ImagenEnvios{
    width: 50%;
    flex-wrap: wrap;
}
