.productosVariedad{
    color: black; 
    font-size: 6rem;
    font-family:'Roboto', sans-serif; 
    text-align: center;
    margin-bottom: 120px !important;
    margin-top: 100px;
}

.h3Titles{
    font-family:'Roboto', sans-serif;
    font-size: 2rem;
    text-align: center;
    text-decoration: underline;
    
}

.menuProductos{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    font-family:'Roboto', sans-serif;
    font-size: 2rem;
    margin-bottom: 200px;
}

.liProductos:hover {
    background-color: pink;
    transition-duration: 1s;
  }
  
.pProductos{
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 8px 5px rgb(0 0 0 / 60%);
    background-color: white;
    border-radius: 15px;
    padding: 20px;
    
}
 .pProductosAlmohadon{
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 8px 5px rgb(0 0 0 / 60%);
    background-color: white;
    border-radius: 15px;
    padding: 20px;
    margin: 20px;
 }
.pProductosFin{
    font-family:'Roboto', sans-serif;
    font-size: 3rem;
    text-align: center;
    margin-top: 50px;
}

.pProductos:hover{
    transform: scale(2);
}

.mates{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-left: 25px;
    margin-bottom: 320px;
}

.velas{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-left: 25px;
    margin-bottom: 320px;
}

.almohadones{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-left: 25px;
    margin-bottom: 320px;
}

.macetas{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-left: 25px;
    margin-bottom: 320px;
}