
/*Celulares*/
@media only screen and (max-width:480px){
    .header{
        flex-wrap: wrap;
        background-color: white;
        background-repeat: repeat;
        justify-content: center;
    }

    .logoHeader{
        width: 15%;
        margin-left: 20px;
      }
.ulFooter{
    margin: 0% !important;
}

.logoMarcaFooter{
    width: 20%;
}
.mailContacto{
    display: none;
}

.instagram{
    width: 30%;
    justify-content: center;
    
}
.redes{
    width: 30%;
    flex-direction: row;
    
}

/*ventana home*/


.Envios{
    flex-wrap: wrap;
    font-size: 100%;
    font-family: 'Roboto', sans-serif;
    justify-content: center;
}


.parrafoEnvio{
    flex-wrap: wrap;
    font-size: 100%;
    font-family: 'Roboto', sans-serif;
    padding: 0px;
    margin: 0px;
    text-align: center;
}

.ImagenEnvios{
    margin: 0px;
    width: 60%;
}

/*ventana productos*/

.productosVariedad{
    font-size: 3rem;
}
.pProductos{
    width: 60%;
    margin-left: 80px;
    flex-wrap: wrap;
    flex-direction: column;
}
.pProductosAlmohadon{
    width: 60%;
    margin-left: 80px;
    flex-wrap: wrap;
    flex-direction: column;
}

/*ventana promociones*/

.mainPro{
display: block;
}
.imagenGrid{
    width: 50%;
    margin-left: 100px;
}
.textoMix{
    margin-left: 50px;
}
/*Ventana nosotros*/
.imagenNosotros{
    margin-left: 50px;
}
.pNosotros{
    font-size: 20px;
}
.ubicacion{
    margin-right: 30px;
}

.pUbi{
    font-size: 20px;
}
/*ventana contacto*/

.h2Contacto{
    font-size: 2rem;
}
.contacto{
    width: 100%;
}
}
/*tablets*/
@media only screen and (min-width:481px) and (max-width:768px){
    
    .logoHeader{
        width: 10%;
    }
    .Envios{
        flex-wrap: wrap;
        font-size: 100%;
        font-family: 'Roboto', sans-serif;
        justify-content: center;
    }
    .logoMarcaFooter{
        width: 20%;
    }
    .mailContacto{
        display: none;
    }
    .instagram{
        width: 30%;
    }
    .redes{
        width: 30%;
    }

    /*ventana home*/

    .Envios{
        flex-wrap: wrap;
        font-size: 100%;
        font-family: 'Roboto', sans-serif;
        justify-content: center;
    }
    
    /*ventana productos*/

    .productosVariedad{
        font-size: 3rem;
    }
    .pProductos{
        width: 20%;
        align-items: flex-start;
        margin: 5px;
    }
    .pProductosAlmohadon{
        width: 20%;
        margin: 5px;
    }
    .pProductosFin{
        font-size: 2rem;
    }
    .imagenGrid{
        width: 40%;
    }
    .h2Contacto{
        font-size: 4rem;
    }
    .contactoBody{
        font-size: 100px;
    }
  }
/*pantallas pequeñas, notebooks*/
@media only screen and (min-width:769px) and (max-width:1024px){

    .logoHeader{
        width: 10%;
    }
    .Envios{
        flex-wrap: wrap;
        justify-content: center;
        width: 10%;
    }
    
    .instagram{
        margin-left: 80px;
        
    }
    .logoContacto{
        width: 20%;
    }
    .redes{
        width: 25%;
    }
    .instagram{
        width: 25%;
    }
    .pProductos{
        width: 60%;
        margin: auto;
        margin-bottom: 40px;
    }
    .pProductosAlmohadon{
        width: 60%;
        margin: auto;
        margin-bottom: 40px;
    }
    .VolverHome{
        font-size: 3rem !important;
    }
    .imagenGrid{
        width: 40%;
    }
    .contacto{
        width: 80%;
    }
}

/*desktop*/
@media only screen and (min-width:1025px) and (max-width:10000px){
    .logoHeader{
        width: 5%;
    }
    .logoContacto{
        width: 10%;
    }
    .parrafoEnvio{
    font-family: "Roboto", sans-serif;
    font-size: 40px;
    color: black;
    line-height: 40px;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
    padding: 40px;
    margin: 25px;
    }
    .ImagenEnvios{
        width: 25%;
    }
    
    .pProductos{
        text-align: center;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        box-shadow: 0px 0px 8px 5px rgb(0 0 0 / 60%);
        background-color: white;
        border-radius: 15px;
        padding: 20px;
        margin: 20px;
        width: 400px;
  }
  .pProductosAlmohadon{
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 8px 5px rgb(0 0 0 / 60%);
    background-color: white;
    border-radius: 15px;
    padding: 20px;
    margin: 20px;
 }
.pProductosFin{
    font-family:'Roboto', sans-serif;
    font-size: 3rem;
    text-align: center;
    margin-top: 50px;
}

.pProductos:hover{
    transform: scaleY(1.2);
}

.mates{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-left: 25px;
    margin-bottom: 320px;
}

.velas{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-left: 25px;
    margin-bottom: 320px;
}

.almohadones{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-left: 25px;
    margin-bottom: 320px;
}

.macetas{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-left: 25px;
    margin-bottom: 320px;
}

}
