
/*Celulares*/
@media only screen and (max-width:480px){
    .header{
        flex-wrap: wrap;
        background-color: white;
        background-repeat: repeat;
        justify-content: center;
    }

    .logoHeader{
        width: 15%;
        margin-left: 20px;
    }
       .Envios{
        flex-wrap: wrap;
        font-size: 100%;
        font-family: 'Roboto', sans-serif;
        justify-content: center;
    }
    

    .parrafoEnvio{
        flex-wrap: wrap;
        font-size: 100%;
        font-family: 'Roboto', sans-serif;
        padding: 0px;
        margin: 0px;
        text-align: center;
    }

    .ImagenEnvios{
        margin: 0px;
        width: 60%;
    }

.ulFooter{
    margin: 0% !important;
}

.logoMarcaFooter{
    width: 40%;
}
.mailContacto{
    display: none;
}
.footerA{
    display: none;
}
.instagram{
    width: 30%;
    justify-content: center;
    
}
.redes{
    width: 30%;
    flex-direction: row;
    
}
}
/*tablets*/
@media only screen and (min-width:481px) and (max-width:768px){
    .logoHeader{
        width: 10%;
    }
    .Envios{
        flex-wrap: wrap;
        font-size: 100%;
        font-family: 'Roboto', sans-serif;
        justify-content: center;
    }
    .logoMarcaFooter{
        width: 60%;
        
    }
    .mailContacto{
        display: none;
    }
    .instagram{
        width: 30%;
    }
    .redes{
        width: 30%;
    }
  }
/*pantallas pequeñas, notebooks*/
@media only screen and (min-width:769px) and (max-width:1024px){

    .logoHeader{
        width: 30%;
    }
    .Envios{
        flex-wrap: wrap;
        justify-content: center;
        width: 10%;
    }
    
    .instagram{
        margin-left: 80px;
        
    }
    .logoContacto{
        width: 10%;
    }
    
}

/*desktop*/
@media only screen and (min-width:1025px) and (max-width:10000px){
    .logoHeader{
        width: 5%;
    }
    .logoContacto{
        width: 10%;
    }
    .parrafoEnvio{
    font-family: "Roboto", sans-serif;
    font-size: 40px;
    color: black;
    line-height: 40px;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
    padding: 40px;
    margin: 25px;
    }
    .ImagenEnvios{
        width: 25%;
    }
}
